In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
from predictions import *

In [4]:
data = read_data(os.path.join('data', 'train'))

In [5]:
all_pos = get_positions(data)
qb = all_pos['qb']
rb = all_pos['rb']
wr = all_pos['wr']
te = all_pos['te']

In [6]:
qb_reg = train_model(qb, 'qb')
rb_reg = train_model(rb, 'rb')
wr_reg = train_model(wr, 'wr')
te_reg = train_model(te, 'te')

In [7]:
test_data = read_data(os.path.join('data', 'test'))

In [8]:
qb_test = get_positions(test_data)['qb']
rb_test = get_positions(test_data)['rb']
wr_test = get_positions(test_data)['wr']
te_test = get_positions(test_data)['te']

In [9]:
predictions(qb_test, 'qb', qb_reg)

                  PredictedPoints
Player
Josh Allen                  23.19
Tom Brady                   21.44
Justin Herbert              21.30
Kyler Murray                21.08
Patrick Mahomes             20.81
...                           ...
Feleipe Franks               0.13
Nathan Peterman              0.06
Ryan Fitzpatrick            -0.02
John Wolford                -0.22
Kellen Mond                 -0.25

[76 rows x 1 columns]

In [10]:
predictions(rb_test, 'rb', rb_reg)

                 PredictedPoints
Player
Derrick Henry              21.96
Jonathan Taylor            20.78
Austin Ekeler              19.25
Joe Mixon                  16.58
Alvin Kamara               16.00
...                          ...
Trenton Cannon              0.02
Darius Bradwell            -0.04
Andrew Beck                -0.04
Tory Carter                -0.04
Kenjon Barner              -0.05

[171 rows x 1 columns]

In [11]:
predictions(wr_test, 'wr', wr_reg)

                    PredictedPoints
Player
Cooper Kupp                   21.40
Kristian Wilkerson            18.31
Davante Adams                 17.71
Justin Jefferson              16.25
Ja'Marr Chase                 15.58
...                             ...
John Brown                     0.08
Isaiah Coulter                 0.08
Rodney Adams                   0.08
Travis Benjamin                0.08
Geronimo Allison               0.08

[241 rows x 1 columns]

In [12]:
predictions(te_test, 'te', te_reg)

                 PredictedPoints
Player
Mark Andrews               14.27
Travis Kelce               13.23
Rob Gronkowski             13.03
George Kittle              11.56
T.J. Hockenson             10.20
...                          ...
Daniel Helm                 0.39
Cethan Carter               0.37
Nick Boyle                  0.35
Darrell Daniels             0.17
Taysom Hill                 0.00

[120 rows x 1 columns]